* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    width: 100vw;
    display: grid;
    padding: 0 4px;
    place-items: center;
    font-family: sans-serif;
    background-color: #fafafa;
  }
  
  #wrapper {
    height: 30rem;
    width: 100%;
    min-width: 18rem;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    border: 2px solid #d59bf6;
    border-radius: 4px;
    background: #fff;
  }
  
  .buttons-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .buttons {
    width: auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .btn-signup,.btn-login {
    padding: 6px 1rem;
    margin: 1rem 2px 0 2px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .btn-border-wrapper {
    width: 100%;
    display: flex;
  }
  
  .btn-border {
    height: 2px;
    background-color: #d59bf6;
    width: 50%;
  }
  
  /*-sign up styling */
  .inputs-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  
  .inputs-wrapper .inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 75%;
  }
  
  .inputs input {
    height: 2rem;
    border-radius: 6px;
    padding: 0.8rem;
    border: 1px solid grey;
  }
  
  .inputs .btn-join-w-google,.inputs .btn-create-account {
    padding: 8px;
    background: #d59bf6;
    border: 2px solid #d59bf6;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .inputs .btn-join-w-google:hover,.inputs .btn-create-account:hover {
    background: transparent;
  }
  
  .inputs .btn-login-w-google,.inputs .btn--login,.inputs .btn-create-new-account{
    padding: 8px;
    background: #d59bf6;
    border: 2px solid #d59bf6;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .inputs .btn-login-w-google:hover,.inputs .btn--login:hover,.inputs .btn-create-new-account:hover {
    background: transparent;
  }
  
  .inputs .or,.inputs h1,.inputs .terms-text,.inputs .forgot-password-text {
    text-align: center;
  }
  
  .inputs .terms-text,.inputs .forgot-password-text {
    font-size: 11px;
    padding: 0 1rem;
  }